h1 {
  font-size: 24px;
  font-weight: bold;
}

.small-card-container {
  margin-top: 10px;
  background-color: white;
  width: 418px;
  height: 594px;
  position: relative;
}

.medium-card-container {
  margin-top: 10px;
  background-color: white;
  width: 960px;
  height: 594px;
  position: relative;
}

.large-card-container {
  margin-top: 10px;
  background-color: white;
  width: 1683px;
  height: 594px;
  position: relative;
}

.sm-blue-line-img {
  position: absolute;
  top: 0;
  width: 418px;
  height: 11px;
}

.md-blue-line-img {
  position: absolute;
  top: 0;
  width: 960px;
  height: 11px;
}

.lg-blue-line-img {
  position: absolute;
  top: 0;
  width: 1683px;
  height: 11px;
}

.sm-content-container {
  padding-left: 30px;
  padding-top: 40px;
}

.md-content-container {
  padding-left: 68px;
  padding-top: 40px;
}

.lg-content-container {
  padding-left: 120px;
  padding-top: 40px;
}

.inner-content-container {
  display: flex;
}

.md-inner-flex-content {
  margin-right: 68px;
}

.lg-inner-flex-content {
  margin-right: 89px;
}

.subtitle {
  font-size: 20px;
  padding-top: 17px;
}

.sm-content-box {
  margin-left: 4px;
  margin-top: 51px;
  height: 252px;
  width: 341px;
  background: #c4c4c4;
}

.md-content-box {
  margin-left: 4px;
  margin-top: 51px;
  height: 252px;
  width: 341px;
  background: #c4c4c4;
}

.md-content-box-2 {
  margin-left: 4px;
  margin-top: 51px;
  height: 252px;
  width: 388px;
  background: #c4c4c4;
}

.lg-content-box-1 {
  margin-left: 4px;
  margin-top: 51px;
  height: 252px;
  width: 440px;
  background: #c4c4c4;
}

.lg-content-box-2 {
  margin-left: 4px;
  margin-top: 51px;
  height: 252px;
  width: 421px;
  background: #c4c4c4;
}

.content-body {
  padding-top: 28px;
  padding-left: 33px;
  font-size: 20px;
  font-weight: medium;
}

.sm-button-container {
  margin-top: 89px;
  height: 54px;
  border-radius: 30px;
  position: relative;
}

.md-button-container {
  margin-top: 93px;
  height: 54px;
  border-radius: 30px;
  position: relative;
  margin-left: 261px;
}

.lg-button-container {
  margin-top: 93px;
  height: 54px;
  border-radius: 30px;
  position: relative;
  margin-left: 653px;
}

.button-text {
  color: #46eee9;
  font-size: 20px;
  position: absolute;
  top: 12px;
  left: 120px;
}

.md-button-text {
  color: #46eee9;
  font-size: 20px;
  position: absolute;
  top: 12px;
  left: 137px;
}

.lg-button-text {
  color: #46eee9;
  font-size: 20px;
  position: absolute;
  top: 12px;
  left: 118px;
}

.md-button-background {
  width: 419px;
  height: 54px;
}

.lg-button-background {
  width: 376px;
  height: 54px;
}
