.menu-container {
  position: relative;
  border: 1px solid #bbbbbb;
  width: 157px;
  height: 34px;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.menu-container > div {
  text-align: start;
}

.menu-button {
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  color: #7c7c7c;
  font-size: 12px;
  margin-top: 8px;
  display: flex;
}

.menu-title {
  margin-bottom: 10px;
  margin-left: 4px;
}

.dropdown-arrow {
  margin-left: 70px;
  margin-bottom: 10px;
}

.menu-items {
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

.menu-item {
  color: black;
  display: block;
  width: 154px;
  cursor: pointer;
  padding-left: 2px;
}

.menu-item:hover {
  background-color: rgb(238, 243, 249);
}
