.wrapper {
  height: 40px;
  width: 70px;
  display: flex;
  background: #fff;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.wrapper span.num {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.wrapper span.minus:hover {
  cursor: pointer;
}

.wrapper span.plus:hover {
  cursor: pointer;
}
