.ss-card-container {
  width: 420px;
  height: 600px;
  position: relative;
  background-color: white;
  margin: 0 auto;
}

.top-container {
  position: absolute;
  top: 0;
  height: 28px;
  width: 420px;
  background: #67db7c;
  text-align: center;
  font-size: 12px;
}

.top-container > div {
  margin-top: 5px;
}

.content-container {
  padding-top: 44px;
}

.header-content {
  text-align: center;
  color: #1b1d3d;
}

.header-content > h1 {
  font-size: 20px;
  font-weight: bold;
}

.header-content > div {
  padding-top: 4px;
  font-size: 18px;
}

.content-container-2 {
  display: flex;
  padding-top: 20px;
  padding-left: 29px;
  padding-right: 29px;
}

.content-container-2 .inner-content {
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 12px;
}

.content-container-2 .inner-text {
  padding-top: 20px;
  position: flex;
}

.content-container-2 .inner-text > img {
  margin-right: 6px;
}

.ss-card-container > img {
  margin-left: 25px;
}

.donut-chart {
  position: relative;
}

.rectangle-amount-1 {
  position: absolute;
  top: 22px;
  left: 0;
}

.rectangle-amount-2 {
  position: absolute;
  top: 65px;
  right: 0;
}

.line-container {
  text-align: center;
}

.content-container-3 {
  margin-left: 133px;
  font-size: 12px;
  color: #1b1d3d;
}

.line-container-2 {
  position: relative;
}

.line-container-2 > img {
  position: absolute;
  top: 5px;
}

.content-container-4 {
  display: flex;
  margin-left: 33px;
  font-weight: medium;
  font-size: 12px;
  padding-top: 28px;
  color: #323456;
}

.content-container-4 .header-text-1 {
  margin-right: 47px;
}

.content-container-4 .header-text-2 .amount {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
  margin-top: 20px;
}

.content-container-4 .header-text-1 .age {
  margin-top: 20px;
  font-size: 24px;
  color: #707070;
  font-weight: bold;
  display: flex;
  margin-left: 40px;
}

.flex-col-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 62px;
}

.flex-col-container .img-1 {
  cursor: pointer;
}

.flex-col-container .img-1:hover {
  cursor: pointer;
  background: rgb(250 250 250);
}

.flex-col-container .img-1:active {
  cursor: pointer;
  background: rgb(245 245 245);
}

.flex-col-container .img-2 {
  cursor: pointer;
}

.flex-col-container .img-2:hover {
  cursor: pointer;
  background: rgb(250 250 250);
}

.flex-col-container .img-2:active {
  cursor: pointer;
  background: rgb(245 245 245);
}

.content-container-5 {
  display: flex;
  margin-top: 38px;
}

.content-container-5 .button-1 {
  width: 175px;
  height: 40px;
  border: 1px solid #1b1d3d;
  border-radius: 20px;
  background: white;
  margin-left: 24px;
  text-align: center;
  margin-right: 19px;
}

.content-container-5 .button-1:hover {
  background: rgb(250 250 250);
}

.content-container-5 .button-1:active {
  background: rgb(245 245 245);
}

.content-container-5 .button-2 {
  width: 167px;
  height: 40px;
  border-radius: 20px;
  background-color: #1b1d3d;
  color: #45eee9;
  text-align: center;
}

.content-container-5 .button-2:hover {
  background: #1f2247;
}

.content-container-5 .button-2:active {
  background: #13152b;
}
