.page-layout {
  height: 100%;
  padding: 100px;
  position: relative;
}

.toggle-container {
  margin-bottom: 10px;
}

.nine-card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-gap: 20px;
}

.four-card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(520px, 520px));
  grid-gap: 20px;
}

.five-card-container {
  display: grid;
  grid-gap: 20px;
}

.eight-card-container .inner-small-container {
  display: flex;
  justify-content: space-between;
  max-width: 955px;
}
